.App {
  text-align: center;
  height: 100vh;
  width: 100%;
  z-index: 2;
  font-family: "Plus Jakarta Sans", sans-serif;
  /* background: linear-gradient(46deg, #27002b, #650071); */
}
html {
  height: 100%;
  background: linear-gradient(46deg, #27002b, #650071);
}
